body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}

.qr-container {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.qr-component {
  padding: 15px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
  max-width: 310px;
  box-sizing: border-box;
  text-align: center;
}
.qr-img {
  width: 100%;
  border-radius: 10px;
}
.qr-body {
  padding: 15px;
}
.qr-heading {
  font-size: 21.5px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.qr-desc {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
